<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exam Parameters</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <ul class="nav_ul">
        <li class="nav_li"><a onclick="window.location.href = '{{ url_for('logout') }}' ; ">Logout</a></li>
        <li class="nav_li"><a onclick="window.location.href = '{{ url_for('exam_parameters') }}' ; ">Exam Parameters</a></li>
        <li class="nav_li"><a onclick="window.location.href = '{{ url_for('add_questions') }}' ; ">Add Questions</a></li>
        <li class="nav_li"><a onclick="window.location.href = '{{ url_for('add_student') }}' ; ">Add Student</a></li>
        <li class="nav_li"><a onclick="window.location.href = '{{ url_for('restore') }}' ; ">Restore</a></li>
        <li class="nav_li"><a onclick="window.location.href = '{{ url_for('metrics') }}' ; ">Metrics</a></li>
        <li class="nav_li"><a onclick="window.location.href = '{{ url_for('download') }}' ; ">Download</a></li>
    </ul>

<form method="post">
    <div class='text'>

        <label for="number_questions">Number of Questions</label>
        <input type="number" placeholder="Number of Questions" name="number_questions" id="number_questions" min="0" required>

        <label for="point_correct_answer">Point Correct Answer</label>
        <input type="number" placeholder="Point Correct Answer" name="point_correct_answer" id="point_correct_answer" min="0" required>

        <label for="point_incorrect_answer">Point Incorrect Answer</label>
        <input type="number" placeholder="Point Incorrect Answer" name="point_incorrect_answer" id="point_incorrect_answer" min="0" step="0.1" required>

        <label for="point_uncomplete_answer">Point Uncomplete Answer</label>
        <input type="number" placeholder="Point Uncomplete Answer" name="point_uncomplete_answer" id="point_uncomplete_answer" min="0" step="0.1" required>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <div class="buttoncontainer">
        <button type="submit">Submit parameters</button>
        </div>
    </div>
</form>

</body>
</html>
